// Font
body {
  font-family: "HankenGroteskRegular", sans-serif;
}

// header
.d-header {
  background-color: #090d14;
}
.d-header-icons .icon:hover,
.d-header-icons .icon:focus {
  background: transparent;
}

// List controls
.list-controls .btn {
  height: 38px;
  border-radius: 3px;
}
.list-controls .combo-box .combo-box-header {
  background: $highlight;
  padding: 20px;
  border: 0px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
}

#create-topic {
  letter-spacing: 0.5px;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  background: linear-gradient(130deg, rgb(0, 180, 230), rgb(0, 240, 224))
    transparent;
  border-width: 0px;
  border-radius: 3px;
  outline: 0px;
  .d-icon {
    color: white;
  }
}

// Navigation bar
#navigation-bar {
  width: auto;
  display: flex !important;

  li:first-child {
    border-radius: 3px 0 0 3px;
  }
  li:last-child {
    border-radius: 0 3px 3px 0;
    margin-right: -2px;
  }
  li {
    background: $quaternary;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
    margin-right: 2px;
    a {
      padding: 11.5px 25px;
      font-size: 15px;
    }
    a:hover {
      background-color: transparent;
      color: $primary;
    }
  }
  li:hover {
    opacity: 0.5;
  }
  li.active {
    background-color: $highlight !important;
    a {
      color: $primary;
      background-color: transparent;
    }
  }
}

// Categories
.category-list {
  border-collapse: separate;
  border-spacing: 0 2em;
  tbody {
    tr {
      border-bottom: 0px solid transparent;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
      td.category {
        background: $highlight;
        border-radius: 6px 0 0 6px;
      }
      td.topics {
        background: $highlight;
        border-radius: 0 6px 6px 0;
      }
      td {
        padding: 12px 15px;
      }
    }
  }
}

.topic-list {
  thead {
    tr {
      border-bottom: 0px;
      th {
        background: transparent;
      }
    }
  }
  tbody {
    border-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
    td {
      background: $highlight;
    }
    tr:first-child {
      td:first-child {
        border-top-left-radius: 6px;
      }
      td:last-child {
        border-top-right-radius: 6px;
      }
    }
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 6px;
      }
      td:last-child {
        border-bottom-right-radius: 6px;
      }
    }
  }
}

// User view
.user-nav.nav-pills > li.active > a,
.user-nav.nav-pills > li > a.active {
  letter-spacing: 0.5px;
  font-size: 15px;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  background: linear-gradient(130deg, rgb(0, 180, 230), rgb(0, 240, 224))
    transparent;
  border-width: 0px;
  border-radius: 3px;
  outline: 0px;
}

.badge-card {
  border-radius: 3px;
  background-color: $highlight;
  border: 0px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
}

// Inside a topic
article div.row {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px 0px;
  background: $highlight;
  max-width: 772px;
  border-radius: 3px;
  margin-bottom: 30px;
  padding-left: 15px;
}
aside.onebox {
  background: $love;
  border: 0px solid transparent;
}

.embedded-posts.bottom .row .topic-avatar,
.embedded-posts.bottom .row .topic-body {
  border-top: 0;
}

.embedded-posts {
  border: 0px;
}

nav.post-controls button.has-like .d-icon,
nav.post-controls .like-button:hover .d-icon,
nav.post-controls button.like.d-hover .d-icon,
nav.post-controls button.like:focus .d-icon {
  color: $danger;
}

// Text colors
.category-list tbody .category h3 a[href],
.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: $header-background;
}
